<section class="actions section">
    <div class="container">
        <div class="section__item heading-wrap">
            <span class="heading text-center">{{ data.heading | raw }}</span>
            <div class="divider"></div>
        </div>
        <div class="section__item cards-wrap">
            {% for item in data.items %}
            <div class="card">
                <div class="card__title-wrap">
                    <span class="card__title font-2-bold" >{{ item.title | raw }}</span>
                    {% if item.subtitle %}
                    <span class="card__subtitle font-2-regular" >{{ item.subtitle | raw }}</span>
                    {% endif %}
                </div>
                <div class="card__icon-wrap">
                    <img src="{{ item.icon}}" class="img-responsive">
                </div>
                <div class="card__button-wrap">
                    <button class="button button-3 button-lg button-rounded js-show-modal" data-modal="#modal-1">{{ item.button | raw }}</button>
                </div>
                
                <div class="card__bg-wrap">
                    <img src="{{ item.icon}}" class="img-responsive">
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>