<section class="calculator section">
    <div class="container">
        <div class="section__item heading-wrap">
            <span class="heading text-center">{{ data.heading | raw }}</span>
            <div class="divider"></div>
        </div>
        <div class="section__item calc-wrap">
            <div class="calc">
                <div class="calc__item result-wrap">
                    <div class="calc__subitem payment-wrap">
                        <span class="payment__label label font-1-medium">Ежемесячный платеж</span>
                        <span class="payment__value nobr value font-1-semibold"><span class="js-payment-label">-</span>&#8201;₽</span>
                    </div>
                    <div class="divider"></div>
                    <div class="calc__subitem time-wrap">
                        <span class="time__label label font-1-medium">Срок займа</span>
                        <span class="time__value nobr value font-1-semibold"><span class="js-months-label">{{ data.time.value }}</span> месяцев</span>
                    </div>
                    <div class="divider"></div>
                    <div class="calc__subitem rate-wrap">
                        <span class="rate__label label font-1-medium">Процентная ставка</span>
                        <span class="rate__value nobr value font-1-semibold"><span class="js-rate-label" data-rate="{{ data.rate }}">{{ data.rate }}</span>&#8201;% в месяц</span>
                    </div>
                </div>
                <div class="calc__item summ-wrap">
                    <div class="calc__subitem input-title-wrap">
                        <div class="calc__inner title-wrap">
                            <span class="title">Сумма займа</span>
                        </div>
                        <div class="calc__inner input-wrap">
                            <div class="calc__add input-wrap">
                                <input type="text" class="calc__input js-amount-input" id="summ" value="300000">
                            </div>
                            <div class="calc__add label-wrap">
                                <span class="value">₽</span>
                            </div>
                        </div>
                    </div>
                    <div class="calc__subitem slider-wrap">
                        <input type="range" class="js-amount-range" name="amount" min="{{ data.amount.min }}" max="{{ data.amount.max }}" step="{{ data.amount.step }}" value="{{ data.amount.value }}">
{#                        <div class="calc__inner slider-wrap">#}
{#                            <div class="calc__slider"></div>#}
{#                            <span class="calc__handle"></span>#}
{#                        </div>#}
                        <div class="calc__inner label-wrap">
                            <span class="slider__label label" data-val="1"><span>{{ data.amount.min |number_format(0, ',', ' ') }}</span> ₽</span>
                            <span class="slider__label label" data-val="1"><span>{{ data.amount.max |number_format(0, ',', ' ') }}</span> ₽</span>
                        </div>
                    </div>
                </div>
                <div class="calc__item time-wrap">
                    <div class="calc__subitem input-title-wrap">
                        <div class="calc__inner title-wrap">
                            <span class="title">Срок займа</span>
                        </div>
                        <div class="calc__inner input-wrap">
                            <div class="calc__add input-wrap">
                                <input type="text" class="calc__input calc__input-time  js-months-input" id="time" value="{{ data.time.value }}">
                            </div>
                            <div class="calc__add label-wrap">
                                <span class="value">месяцев</span>
                            </div>
                        </div>
                    </div>
                    <div class="calc__subitem slider-wrap">
                        <input type="range" class="js-months-range" name="months" min="{{ data.time.min }}" max="{{ data.time.max }}" step="{{ data.time.step }}" value="{{ data.time.value }}">
{#                        <div class="calc__inner slider-wrap">#}
{#                            <div class="calc__slider"></div>#}
{#                            <span class="calc__handle"></span>#}
{#                        </div>#}
                        <div class="calc__inner label-wrap">
                            <span class="slider__label label" data-val="1"><span>1</span> мес</span>
                            <span class="slider__label label" data-val="1"><span>12</span> мес</span>
                            <span class="slider__label label" data-val="1"><span>24</span> мес</span>
                            <span class="slider__label label" data-val="1"><span>36</span> мес</span>
                        </div>
                    </div>
                </div>
                <div class="calc__item form-wrap"></div>
            </div>
        </div>
    </div>
</section>
