<section class="footer section">
    <div class="container">
        <!--div class="footer__divider"></div-->
        <div class="section__item header-wrap">
            <!--div class="section__subitem logo-wrap">
                <img src="{{ data.logo | raw }}" class="">
            </div-->
            <div class="section__subitem callback-wrap">
                <div class="section__inner link-wrap">
                    <a class="link link-a-b footer__link-phone font-2-semibold" href="tel:{{ phone.href }}">{{ phone.title }}</a>
                </div>
                <div class="section__inner">
                    <span class="footer__callback-title">Бесплатный звонок по России</span>
                </div>
            </div>
        </div>
        <div class="section__item social-wrap">
            <a class="section__subitem telegram-wrap link" href="https://t.me/autosaim" target="_blank">
                <img src="data/img/ui/telegram-icon.svg?v=1">
            </a>
            <a class="section__subitem vk-wrap link" href="https://vk.com/club222119633" target="_blank">
                <img src="data/img/ui/vk-icon.svg?v=1">
            </a>
        </div>
        <div class="section__item nav-wrap">
            <div class="section__subitem title-wrap">
                <span class="font-1-semibold">Навигация</span>
            </div>
            {% for nav in nav %}
            <div class="section__subitem link-wrap">
                <a href="{{ nav.href }}" data-href="{{ nav.href }}" class="link link-a-b {{ nav.class }}">{{ nav.title | raw }}</a>
            </div>
            {% endfor %}
        </div>
        <div class="section__item link-wrap">
            <a href="https://mkk-bvs.ru" target="_blank" class="link link-a-b font-1-medium">Юридическая информация <span class="mdi mdi-chevron-right"></span></a>
        </div>
        <div class="section__item info-wrap">
            <span class="footer__copyright font-1-semibold">{{ data.copyright | raw }}{{ 'now' | date('Y') }}</span>
            <span class="footer__disclaimer">{{ data.disclaimer | raw }}</span>
            <span class="footer__owner">{{ data.owner | raw }}, {{ phone.title }}</span>
        </div>
    </div>
</section>